@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100hv;
  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

/* NAVBAR */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header.scrolled {
  background: #40916c;
  transition: 0.5s;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.logo .drop {
  color: #fff;
}

.logo .market {
  color: #80ed99;
}

.navbar a {
  position: relative;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  margin-left: 40px;
  cursor: pointer;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #80ed99;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

/* SECTION 1 */

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  margin-top: 50px;
  gap: 200px;
}

.section1-text {
  flex: 1;
}

.section1-text h1 {
  font-size: 55px;
  margin-bottom: 20px;
  color: #fff;
}

.section1-text p {
  font-size: 18px;
  color: #c7c7c7;
}

.section1-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.section1-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.verde {
  color: #80ed99;
}

/* SECTION 2 */

.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  margin-top: 10px;
  gap: 250px;
}

.section2-text {
  flex: 1;
}

.section2-text h2 {
  font-size: 55px;
  margin-bottom: 20px;
  padding: 5px;
  color: #fff;
}

.section2-text .verde {
  color: #80ed99;
}

.section2-text p {
  font-size: 18px;
  color: #c7c7c7;
}

.galeria {
  display: flex;
  width: 800px;
  height: 530px;
}

.galeria img {
  width: 0px;
  filter: grayscale(100%);
  flex-grow: 1;
  object-fit: cover;
  border-radius: 3%;
  opacity: 0.8;
  transition: 0.5s ease;
}

.galeria img:hover {
  cursor: crosshair;
  width: 350px;
  filter: grayscale(0%);
  opacity: 1;
  filter: contrast(120%);
}

/* SECTION 3 */



/* ANIMACIONES */

@keyframes move {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(25px);
  }
  100% {
      transform: translateX(0);
  }
}

.moving-img {
  animation: move 5s infinite;
}